body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  transition: 0.2s;
}

button:hover {
  background-color: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}

button:active {
  background-color: rgba(255,255,255,0.5);
  transform: translateY(2px);
}

.review {
  border: 1px solid #fff;
  border-radius: 14px;
  height: 350px;
  width: 100%;
  padding: 14px;
  text-align: center;
}

.review textarea {
  height: 100px;
  width: 90%;
  padding: 7px;
  background-color: rgba(0,0,0,0);
  color: #fff;
  border-radius: 7px;
  margin-top: 10px;
}

.review input {
  margin-top: 10px;
  width: 90%;
  background-color: rgba(0,0,0,0);
  color: #fff;
  text-align: center;
  padding: 7px 0px;
  border-radius: 7px;
}

.review button {
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
  padding: 7px 14px;
  cursor: pointer;
  margin-top: 14px;
}

.review button:hover {
  background-color: rgba(255,255,255,0.2);
}

.review button:active {
  background-color: rgba(255,255,255,0.5);
}

.postClose {
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-bottom: -50px;
}

.postCloseBtn {
  font-size: 0.5em;
  padding: 3px;
}

.postReview button {
  background-color: rgba(0,0,0,0);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.postReview button:hover {
  background-color: rgba(255,255,255,0.2);
}

.postReview button:active {
  background-color: rgba(255,255,255,0.5);
}

.fetchReviews {
  text-align: left;
  position: fixed;
  top: 0px;
  left: 24px;
}

.fetchReviews input {
  background-color: rgba(0,0,0,0);
  color: #fff;
  border-radius: 7px;
  padding: 7px 14px;
}

.fetchReviews button {
  background-color: rgba(0,0,0,0);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 7px 14px;
  margin-top: 10px;
  width: 100%;
}

.fetchReviews button:hover {
  background-color: rgba(255,255,255,0.2);
}

.fetchReviews button:active {
  background-color: rgba(255,255,255,0.5);
}

.fetchReviews h4 {
  margin-bottom: 10px;
  padding: 0px;
  text-align: center;
}

.allReviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.singleReview {
  border: 1px solid #fff;
  border-radius: 7px;
  margin: 14px;
  padding: 14px;
}

.connect {
  position: fixed;
  top: 24px;
  right: 24px;
}

.connectBtn {
  background-color: rgba(0,0,0,0);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 0px 14px;
  margin: 0px;
}

.searchedReviews {
  width: 90%;
  margin: auto;
  margin-top: 14px;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 14px;
}

.closeSearch {
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 7px;
  color: #fff;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 24px;
}